<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!-- container for metadata (is not displayed on the page)
title, styles(css), link, scripts, meta and other
-->
</head>
<body>
<b>Welcome to Java Developer course!! </b>
<h1 align="center" style="color:orange">Spring Boot</h1>
<h2 align="right" style="color: red">Spring Boot</h2>
<h3>Spring Boot</h3>
<img src="springboot.png" alt="Spring boot image">

<ul>
  <li>JAVA</li>
  <li>MVC</li>
  <li>ORM</li>
</ul>

<a href="https://spring.io">Spring Framework</a>
<br>
<table>

  <tr>
    <td>First Name,</td>
    <td>Last Name,</td>
    <td>Salary</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>250k</td>
  </tr>

</table>
<br>

<label>Username:</label>
<input type="text" name="userName" id="userName">
<br>
<label>Password:</label>
<input type="password" id="password">
<br>
<br>
<label>Contact us</label>
<textarea name="feedback"></textarea>

<br>
<br>
<label>Select your gender</label>
<input type="radio" name="gender" value="male"> Male
<input type="radio" name="gender" value="female"> Female
<input type="radio" name="gender" value="other"> other
<br>
<br>
<label>Select courses</label>
<input type="checkbox" name="course" value="Java"> Java
<input type="checkbox" name="course" value="Spring Boot"> Spring Boot
<input type="checkbox" name="course" value="other"> Java Script
<br>
<br>
<label>Select program</label>
<select>
  <option value="default"> Choose program</option>
  <option value="backend"> Backend Developer</option>
  <option value="frontend">Frontend Developer </option>
  <option value="fullstack">Full Stack Developer</option>
</select>
<br>
<br>
<form action="#" method="post">
  First name: <input type="text" name="firstname">
  <br>
  Last name:<input type="text" name="lastname">
  <br>
  <input type="button" value="submit">

</form>
<br>
<br>
<div style="background-color: chartreuse">
  <h3>Schedule</h3>
  <ul>
    <li>Monday 9am-1pm</li>
    <li>Tuesday 9am-1pm</li>
    <li>Wednesday 9am-1pm</li>
  </ul>
</div>
</body>
</html>