<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML Document</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mentor:${mentors}">
        <td th:text="${mentor.getFirsName()+'  |   '+mentor.getLastName()+'  |   '+ mentor.getAge()+'   |  '+mentor.getGender()}"></td>
    </tr>
<!--    <tr>-->
<!--        <td th:each="mentor:${mentors}" th:text="${mentor.getLastName()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:each="mentor:${mentors}" th:text="${mentor.getAge()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:each="mentor:${mentors}" th:text="${mentor.getGender()}"></td>-->
<!--    </tr>-->
<!--        <td th:text="${mentors.get(0).getLastName()}"></td>-->
<!--        <td th:text="${mentors.get(0).getAge()}"></td>-->
<!--        <td th:text="${mentors.get(0).getGender()}"></td>-->


<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentors.get(1).getFirsName()}"></td>-->
<!--        <td th:text="${mentors.get(1).getLastName()}"></td>-->
<!--        <td th:text="${mentors.get(1).getAge()}"></td>-->
<!--        <td th:text="${mentors.get(1).getGender()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentors.get(2).getFirsName()}"></td>-->
<!--        <td th:text="${mentors.get(2).getLastName()}"></td>-->
<!--        <td th:text="${mentors.get(2).getAge()}"></td>-->
<!--        <td th:text="${mentors.get(2).getGender()}"></td>-->
<!--    </tr>-->
    </tbody>
</table>




<!-- Your content goes here -->

</body>

</html>








